@using SchoolProject.Entities
@model List<tFakulte>
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Yeni Fakülte Ekleme Ekranı</h1>
<form class="form-group" method="post">

    <input type="text" placeholder="Fakülte ID" name="FakulteID" class="form-control" />
    <br />

    <input type="text" placeholder="Fakülte Adı" name="FakulteAd" class="form-control" />
    <br />

    <button class="btn btn-primary">Ekle</button>
</form>



